// default

.dashboard{
    color: white;
    height: 100vh !important;
    width: 100%;

    button{
        border-radius: 4px !important;
    }
    
    .alert{
        font-size: 1.8rem;
    }

    .selected{
        background-color: darkblue;
        color: white;
    }

    

    aside{
        // display: block !important;
        width: 14rem;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        h5{
            margin: 2rem 1rem;
            font-size: 1.5rem;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }

        button{
            margin-left: 0.5rem;
            width: 90%;
            padding: 1rem 1rem;
            cursor: pointer;
        }
    }

    .sidebar-link{
        display: flex;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 1rem 1rem;

        .side-link{
            font-size: 1.3rem;
        }

        p{
            font-size: 1.1rem;
            margin-left: 1rem;
        }
    }

    .logout-btn{
        font-weight: 750;
    }

    .delete-acct-btn{
        margin-top: 1.5rem;
        font-weight: 750;
        background-color: rgb(170, 10, 10);
        border-radius: 3px;
    }

    // delete account popup
    .delete-acct-pop{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
            
    }

    .del-acct-card{
        margin: 18rem auto;
        height: 10rem;
        width: 80%;
        max-width: 48rem;
        padding: 2rem;
        border-radius: 5px;
    }

    .option-btn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.5rem;

        button{
            margin-left: 2rem;
        }
    }

    .pages{
        margin-left: 14rem;
    }
}


// lightmode
.lightmode{

    .dashboard{
        color: black;

        aside{
            background-color: rgb(243, 243, 243);
            box-shadow: 0px 2px 8px grey;            
        }

        .page-active{
            background-color: black;
            padding: 1rem 1rem;
            color: white !important;
        }

        .sidebar-link{
            color: black;
        }

        .del-acct-card{
            background-color: rgb(243, 243, 243);
        }
    }
}

// darkmode

.darkmode{

    .dashboard{

        
        color: white;

        aside{
            // background-color: black;
            background-color: #141d26 !important;
            box-shadow: 0px 2px 8px grey;            
        }

        .page-active{
            background-color: rgb(243, 243, 243);
            padding: 1rem 1rem;
            color: black !important;
        }

        .sidebar-link{
            color: white;
        }

        .del-acct-card{
            background-color: #141d26;
            
            .option-btn{
                margin-left: 1rem;
            }
        }

        
    }
}


@media screen and (max-width: 768px) {

    .active{
        transform: translateX(0%);
        transition: all 0.45s ease-in-out;
    }

    .not-active{
        transform: translateX(-120%);
        transition: all 0.45s ease-in-out;       
    }
        
        
    .pages{
            margin-left: 0rem !important ;
        }
}