// default


.new-post{
    height: auto;
    width: 100%;
    padding: 1.8rem 0rem;

    .open-btn{
        padding: 1.2rem 2rem;
        font-size: 14px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-weight: 700;

        .open-btn-icon{
            margin-left: 1rem;
        }
    }
    
    
    h2{
        text-align: center;
        font-weight: 1700;
        font-size: 2.3rem;
    }

    .open{
        display: block;
    }

    .close{
        display: none;
    }

    .blog-section{

        height: 100%;
        width: 100%;
        padding: 0rem 2rem;

        .post-header{

            margin-bottom: 2rem;

            h2{
                text-align: unset;
            }

            .hamburger-icon{
                display: none;
            }
        }

        .p{
            color: grey;
            margin: 2rem 0rem;
        }

        .blog-card-section{

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
            grid-gap: 1rem;

            // .card{
            //     border-radius: 5px;
            //     height: auto;
            //     padding: 1rem;
            //     border: 2px solid white;

            //     h2{
            //         margin-bottom: 3rem;
                
            //         &::after{
            //             content: '';
            //             display: block;
            //             height: 0.01rem;
            //             width: 100%;
            //             background-color:white;
            //             margin-top: 3rem;
            //         }    
            //     }

            //     p{
            //         margin-bottom: 1rem;
            //     }
                
            // }

            h3{
                font-size: 1.8rem;
                color: grey;
            }
        }
        

    }

    

    .pop-up{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);


        form{
            background-color: white;
            margin: 4rem auto;
            max-width: 30rem;
            width: 86%;
            padding: 3rem;
            border-radius: 5px;

            .form-icon{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-weight: 500;
                font-size: 1.5rem;
            }
    
            .form-group{
    
                margin-bottom: 1rem;
    
                label{
                    display: block;
                }
    
                input{
                    width: 100%;
                    padding: 1rem 1rem;
                    border: none;
                    border-bottom: 2px solid grey;
                    background-color: transparent;
                    border-radius: 0% !important;
                    font-size: 16px;
                    &:focus{
                        outline: none;
                        border: initial;
                    }
                }
    
                textarea{
                    width: 100%;
                    padding: 0.7rem 1rem;
                    border: none;
                    border-bottom: 2px solid grey;
                    background-color: transparent;
                    border-radius: 0% !important;
                    font-size: 16px;
                    &:focus{
                        outline: none;
                        border: initial;
                    }
                }
            }
    
            .post-btn{
    
                button{
                    margin-top: 1.5rem;
                    width: 100%;
                    padding: 1.3rem 2rem;
                    border: none;
                    color: white;
                    font-size: 1rem;
                    font-weight: 700;
                    cursor: pointer;
                    
     
                }
            }
            
        }
    }

    
}

// darkmode

.darkmode{

    .new-post{
            height: auto !important;
            background-color: #141d26;
            
            

            form{
                background-color: #141d26;
                .form-icon{
                    color: white;
    
                    #icon{
                        color: white;
                    }
                }    

                input{
                    color: white;
                    border-radius: none;
                }
    
                textarea{
                    color: white;
                }

            }


            .blog-section{

                .post-header{

                    h2{
                        text-align: unset;
                    }

                    .hamburger-icon{
                        background-color: white;
                        color: black;
                        padding: 0.75rem 0.75rem;
                        height: 2.7rem;
                        width: 2.7rem;
                        border-radius: 100%;
                        cursor: pointer;
                    }
                }

                .card{
                    border-radius: 5px;
                    height: auto;
                    padding: 1rem;
                    border: 2px solid white;
    
                    h2{
                        font-size: 2rem;
                        margin-bottom: 2rem; 
                    }
    
                    p{
                        margin-bottom: 1rem;
                        line-height: 1.55;
                    }

                    i{
                        font-weight: unset;
                    }
                    
                }

            }

            
        
    }

}

// lightmode
.lightmode{

    .new-post{
            height: auto !important;
            background-color: rgb(243, 243, 243);

            input{
                color: black;
                
            }

            textarea{
                color:black;
            }


            .blog-section{

                .post-header{

                    h2{
                        text-align: unset;
                    }

                    .hamburger-icon{
                        background-color: white;
                        color: black;
                        padding: 0.75rem 0.75rem;
                        height: 2.7rem;
                        width: 2.7rem;
                        border-radius: 100%;
                        cursor: pointer;
                    }
                }



                .card{
                    border-radius: 5px;
                    height: auto;
                    padding: 1rem;
                    background-color: white;
                    // border: 2px solid grey;
                    transition: all 0.25s ease-in-out;
                    &:hover{
                        box-shadow: 2px 2px 8px rgb(165, 165, 165);
                        transition: all 0.25s ease-in-out;
                    }
                    h2{
                        margin-bottom: 2rem;
                        font-size: 2rem;    
                    }
    
                    p{
                        margin-bottom: 1rem;
                        line-height: 1.55;
                    }

                    i{
                        color: grey;
                    }
                    
                }

            }
    }

}


@media screen and (max-width: 768px) {
    .post-header{

        display: flex;
        justify-content: space-between;
        align-items: center;

        .hamburger-icon{
            display: block !important;
        }
    }

    
}

@media screen and (max-width: 375px) {
    .blog-card-section{

        .card{
           h2{
               font-size: 2rem;
           } 
        }
    }
}