// default

.profile{
    height: 100%;
    color: black;
    padding: 1.8rem 2rem;
    width: 100%;

    input[type="file"]{
        display: none;
    }

    .profile-header{

        h2{
            font-size: 2.3rem !important;
        }

        #hamburger-icon{
            cursor: pointer;
            display: none;
        }
    }

    .profile-picture{
        margin-top: 1.5rem;
        display: flex;
        align-items: center;

        img{
            width: 8rem;
            height: 8rem;
            object-fit: cover;
            border-radius: 100%;
        }        

        label{
            cursor: pointer;            
        }

        p{
            font-size: 1.35rem;
            color: rgb(151, 148, 148);
            margin-left: 1.3rem;
        }
    }

    
    form{

        #upload{
            margin-top: -26rem;
            cursor: pointer;
        }


        .profile-data{

            margin-top: 2rem;
            .display-name{

                label{
                    display: block;
                    margin-bottom: 0.5rem;
                }

                input{
                    width: 90%;
                    padding: 0.75rem 0rem;
                    border: none;
                    border-bottom: grey 2px solid;
                    background-color: transparent;
                    border-radius: 0% !important;
                    font-size: 16px;
                    
                    &:focus{
                        outline: none;
                    }
                }
            }

        }

        .submit-button{
            margin-top: 2rem;
            button{
                font-weight: 750;
                padding: 1.1rem 1.5rem;
                font-size: 0.85rem;
                border-radius: 4px !important;
            }

            &:disabled{
                color:rgb(223, 221, 221) !important;     
            }
        }

    }
}



// lightmode
.lightmode{

    .profile{
        background: rgb(243, 243, 243);
        height: 100%;
        color: black;

        .profile-header{


            h2{
                font-size: 3rem;
            }
    
            #hamburger-icon{
                background-color: white;
                padding: 0.75rem 0.75rem;
                height: 2.7rem;
                width: 2.7rem;
                border-radius: 100%;
                cursor: pointer;
            }
            
        }
        
        h2{
            color: black;
            font-size: 3rem;
        }


        .submit-button{

            button:disabled{
                background-color: rgb(24, 24, 24);
                color:rgb(223, 221, 221)     
         }

        }
        
    }   
}


// darkmode
.darkmode{

    .profile{
        height: 100%;
        color: white;
        
        h2{
            color: white;
            font-size: 3rem;
        }

        .profile-header{


            h2{
                font-size: 3rem;
            }
    
            #hamburger-icon{
                background-color: white;
                color: black;
                padding: 0.75rem 0.75rem;
                height: 2.7rem;
                width: 2.7rem;
                border-radius: 100%;
                cursor: pointer;
            }
        }


        .display-name{

            input{
                color: white;
            }
        }
    }   
}


@media screen and (max-width: 768px){


    .profile-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            font-size: 3rem;
        }

        #hamburger-icon{
            display: block !important;
        }    
    }

    
}