// default

.signup{

    min-height: 100vh;
    padding: 1.5rem 0rem;

    button{
        border-radius: 4px !important;
    }

    .error{
        margin-top: 1rem;
        background-color: #ec3b3b;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.7rem 2rem;
        color: white;
        border-radius: 5px;
    }

    h2{
        font-size: 3rem;
        text-align: center;
    }

    form{
        margin: 0 auto;
        margin-top: 3.5rem;
        width: 85%;
        max-width: 30rem; 

        .form-group{
            margin-bottom: 2rem;            

            input{
                font-size: 16px !important;
                width: 100%;
                padding: 1rem 1.2rem;
                background-color: transparent;
                border: none;
                border-bottom: grey 2px solid;
                border-radius: none;
                &:focus{
                    outline: none;
                }
            }

            label{
                display: block;
                margin-bottom: 0.1rem;
                font-size: 0.85rem;
            }
        }

        #form-group{

            .signup-toggle{
                display: inline;
                margin-left: 1rem;
            }

            input{
                width: 88%;
            }
        }

        .signup-btn{
            margin: 3rem 0rem;

            button{
                cursor: pointer;
                width: 100%;
                padding: 1rem 2rem;
            }
        }

        

    }

    .login-text{
        text-align: center;

        &-link{
            text-decoration: underline;
            color: white;
        }
    }
}

.lightmode{


    .login-text-link{
        color: black !important;
    }
}

.darkmode{

    .signup{

        input{
            color: white;
            
        }

        button{
            color: white;
        }

    }

}